node_modules/
dist/
build/
out/
.nx/
*.log
.env
.env.*
!.env.example
.DS_Store
coverage/
storybook-static/
*storybook.log

# design-sync
.design-sync/sb-reference/
.design-sync/learnings/
.design-sync/.cache/
.design-sync/node_modules
.ds-sync/
ds-bundle/
